.example-spacer {
    flex: 1 1 auto;
  }

  .home{
    cursor: pointer;
  }

  //positions
  .absolute{
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 5px;
    color: white;
    font-weight: 300;
  }