.No{
    background-color: red !important;
    color: white !important;
    width: 20% !important;
    height: 80% !important;
    margin-bottom: 1em;
}

.Yes{
    background-color: blue !important;
    color: white !important;
    width: 20% !important;
    height: 80% !important;
    margin-bottom: 1em;
}

.text{
    padding: 5px;
}

h4{
    margin: 0;
}

span{
    color: red;
    margin-left: 10px;
}

mat-card{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}